@model WebBanCaCanh.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Quản lý tài khoản";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Thay đổi cài đặt tài khoản của bạn</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Mật khẩu:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Tạo mật khẩu", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</main>
